<div class="container-fluid" style="padding-bottom: 100px;">
  <ais-instantsearch [config]="config">
    <ais-configure *ngIf="startDateFixed && endDateFixed" [searchParameters]="{filters: 'date:' + startDateFixed + ' TO ' + endDateFixed}"></ais-configure>
    <div class="row">
      <div class="search-holder col-sm-8">
        <ais-search-box
          placeholder="Type a band name or location"
          submitTitle="Submit title"
          resetTitle="Reset title"
          [searchAsYouType]="true"
          [autofocus]="true"
        ></ais-search-box>
      </div>
      <div class="date-holder col-sm-4">
        <label for="startDate"><p>Optional Filter: </p></label>
        <input type="date" [(ngModel)]="startDate" id="startDate" name="startDate" (ngModelChange)="fixDate('start')">
        <span style="margin-right: 10px;">to</span>
        <input type="date" [(ngModel)]="endDate" id="endDate" name="endDate" (ngModelChange)="fixDate('end')">
        <button type="button" (click)="resetDate();" class="btn btn-warning">Reset</button>
      </div>
    </div>
    <br>
    <ais-hits>
      <ng-template let-hits="hits" let-results="results">
        <p *ngIf="results.query && results.query.length > 0 && hits.length>0; else noSearch" style="text-align: center;">Click any listing for more information</p>
        <h5 *ngIf="hits.length===0" style="text-align: center;">Oh no! Looks like I can't find that. Try searching for something else or resetting the date filter.</h5>
        <div class="row" *ngIf="results.query && results.query.length > 0">
          <div class="col-md-4 col-sm-6 col-12" *ngFor="let hit of hits" (click)="onClick(hit.name)">
            <app-search-result [concert]="hit"></app-search-result>
          </div>
        </div>
      </ng-template>
      <ng-template #noSearch>
        <h3 style="text-align: center">Start typing a band name / location to find shows! Optionally filter by date.</h3>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
</div>
<!--Modal with info to be filled dynamically-->
<ngx-smart-modal #infoModal identifier="infoModal" customClass="info-modal nsm-dialog-animation-ttb">
  <div class="container" style="text-align: center;" *ngIf="infoModal.getData() as res">
    <img [src]="res.banner" alt="" style="max-width: 100%;">
    <div class="info-holder" *ngIf="res.bio; else noHits">
      <h4><span *ngIf="res.year" class="left-info">Year Formed: {{ res.year }}</span> <span *ngIf="res.style" class="right-info">Genre: {{ res.style }}</span></h4>
      <br>
      <hr>
      <p style="clear: both; margin-top: 20px;">{{ res.bio }}</p>
    </div>
  </div>
  <ng-template #noHits>
    <p>Sorry. I couldn't find any info about this band.</p>
  </ng-template>
</ngx-smart-modal>

