/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal.css";

.info-modal {
  max-width: none !important;
  width: 50% !important;
}


@media only screen and (max-width: 767px) {
  .info-modal {
    width: 98% !important;
  }
}
